theme = "bogster"

[editor]
bufferline = "multiple"
cursorline = true
line-number = "relative"
rulers = [80]
true-color = true
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.lsp]
auto-signature-help = false
display-messages = true

[keys.normal]
"A-," = "keep_primary_selection"

[keys.normal.","]
c = ":bc"
w = ":w"
q = [":w", ":bc"]
z = ":wq"

